body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.conference-title {
  text-align: center;
}

.en-title {
  color: white;
}

.ch-title {
  color: white;
  margin-top: -10;
}

.login-form {
  /* max-width: 300px; */
  width: 100%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.signup-form {
  /* max-width: 300px; */
  width: 100%;
}

.signup-form-button {
  width: 100%;
}
