.conference-title {
  text-align: center;
}

.en-title {
  color: blue;
}

.login-form {
  /* max-width: 300px; */
  width: 100%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.signup-form {
  /* max-width: 300px; */
  width: 100%;
}

.signup-form-button {
  width: 100%;
}
